{% extends 'hnf.html' %}
{% load static %}
{% block content %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/carrito.css">
    <title>Ferreteria</title>
</head>

<body>
    <section class="contenedor" style="justify-content: space-around;">
        <!-- Elementos del Carrito -->
        <div class="carrito-total">
            <h3>Tu carrito</h3>
            {% if carrito %}
            {% for item in carrito.values %}
            <div class="item-carrito">
                <div class="info-producto">
                    <span class="nombre-producto">{{ item.nombre }}</span>
                    <span class="precio-producto">{{ item.precio }} USD</span>
                    <span class="cantidad">{{ item.cantidad }}</span>
                    <span class="subtotal">{{ item.subtotal }} USD</span>
                </div>
                {% endfor %}
                <div class="total">
                    <span>Total: {{ total_precio }} USD</span>
                </div>
                {% else %}
                <p>Tu carrito está vacío</p>
                {% endif %}
            </div>

            <!-- Resumen -->
            <div class="resumen">
                <h3> Resumen de compra </h3>
                <div class="carrito-total">
                    <div class="fila">
                        <strong> Total </strong>
                        <span class="carrito-precio-total">
                            {{ total_carrito }} CLP
                        </span>
                    </div>
                    <button class="btn-pagar"> Pagar <i class="fa-solid fa-bag-shopping"></i></button>
                </div>
            </div>
    </section>

</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
{% endblock %}