<!DOCTYPE html>
<html>
<head>
    <title>Iniciar Compra</title>
</head>
<body>
    <form action="{% url 'iniciar_compra' %}" method="post">
        {% csrf_token %}
        <button type="submit">Iniciar Compra</button>
    </form>
    {% if url and token %}
        <form action="{{ url }}" method="post" id="transbank_form">
            <input type="hidden" name="token_ws" value="{{ token }}">
            <script type="text/javascript">
                document.getElementById("transbank_form").submit();
            </script>
        </form>
    {% endif %}
</body>
</html>